body{
    margin: 0;
}
/* 선택자가 id보다 훨씬 포괄적임 */
a{ 
    color: black;
    text-decoration: none; /*장식 사라지게 함_밑줄제거*/
}
h1{
    font-size: 55px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
.saw{
    color:gray;
}
/*id는 단 한번만 등장해야한다*/
#active{ 
    color: red;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{ /*grid 밑에 있는 ol태그를 선택하는 선택자*/
    padding: 30px;
}
#article{
    padding: 25px;
}
/*800px보다 화면이 작아지면 제목 경계선x, ol 경계선x, 본문 부분이 아래로 내려감*/
@media(max-width:800px){
    #grid{
    display: block;
    }
    ol{
    border-right: none;
    }
    h1{
        border-bottom: none;
    }
}